* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  color: black;
}

.navBarMobile {
  width: 100%;
  height: 60px;
  background-color: #464b51;
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.menuButton {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menuButton .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menuButton.close {
  transform: rotate(180deg);
}

.menuButton.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menuButton.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menuButton.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 99;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.navigationBar {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}
.navigationBar {
  margin: 0;
  padding: 0;
  background: #464b51;
  color: #fff;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-in-out;
}
.navigationBar.show {
  transform: translate3d(0, 0%, 0);
}
.menu .navItem {
  transform: translate3d(300px, 0, 0);
  transition: all 0.5s ease-in-out;
}
.menu .navItem.show {
  transform: translate3d(0, 0, 0);
}
.menu .navItem.current > a {
  color: #ffe6ff;
}
.menu .pageLink,
.menu .resumeLink {
  display: inline-block;
  position: relative;
  font-size: 1.7em;
  line-height: 1em;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.navItem:nth-child(1) {
  transition-delay: 0.1s;
}

.navItem:nth-child(2) {
  transition-delay: 0.2s;
}

.navItem:nth-child(3) {
  transition-delay: 0.3s;
}

.navItem:nth-child(4) {
  transition-delay: 0.4s;
}

.navItem:nth-child(5) {
  transition-delay: 0.5s;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.navigationBar a,
button a {
  color: white;
  text-decoration: none;
}

.homePage {
  height: 92vh;
  margin-top: 60px;
  background-image: url(photos/laugh.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homePageOverlay {
  visibility: hidden;
}

.mainTitleSection {
  padding-top: 70vh;
  color: white;
  text-align: center;
}

.mainTitleLine {
  font-size: 1.8em;
  letter-spacing: 0.2em;
  margin: 10px;
}

.nameLine {
  display: none;
}

.tagline {
  font-size: 1em;
  margin: 10px;
}

.contactSection {
  height: 85%;
}

.actPhoto,
.contactPhoto {
  display: none;
}

.actingPageTitle {
  margin-top: 15%;
}

.videoReel {
  width: 90vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.wellnessBlurb,
.actInfo {
  line-height: 1.5em;
  margin: 20px;
  font-size: 16px;
}

.wellnessLinks {
  width: 100vw;
}

.thumb {
  width: 80vw;
}

.photoWrapper {
  width: 85vw;
  margin: 10px auto;
}

.activeMedia .activeOverlay,
.activePhoto .activeOverlay {
  font-family: 'Montserrat';
  text-decoration: none;
  opacity: 0.9;
  width: 70%;
  height: 12%;
  margin: 65% 15% 0;
}

.activeOverlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 60%;
  background: #fff;
  color: #151e3f;
  transition: all 0.9s ease;
  transition-timing-function: ease-in;
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}

.contactForm input,
.contactForm textarea {
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 10px;
  opacity: 80%;
  border: none;
  border-radius: 3px;
  margin: 10px;
  background-color: rgb(234, 233, 233);
}

.sendContactForm {
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: 0.2em;
  padding: 15px 20px;
  border-radius: 3px;
  width: 60%;
  margin: 15px auto;
  background-color: #464b51;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.footer {
  font-size: 12px;
  margin: 14% 0 1% 0;
}

.webLink {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 760px) {
  body {
    font-size: 16px;
    font-family: 'Montserrat';
  }
  h1 {
    font-size: 2.6em;
  }

  .menuButton,
  .navBarMobile {
    visibility: hidden;
  }

  .menu {
    width: 100%;
    height: 80px;
    margin: 0;
    font-size: 0.9em;
    top: 0;
    left: 0;
    visibility: visible;
    flex-direction: row;
    display: flex;
    background-color: white;
    position: fixed;
  }

  .navigationBar {
    padding: 0;
    background: none;
    height: 80px;
    width: 70vw;
    border: none;
    overflow: none;
    transform: none;
    flex-flow: unset;
  }

  #homeLink {
    display: none;
  }

  .nameLine {
    display: block;
    visibility: hidden;
    transition: all 0.9s ease;
    transform: scale(0);
    margin: auto 0 auto 10px;
    font-family: 'Montserrat';
    color: rgb(73, 72, 72);
    font-size: 1.3em;
    width: 15vw;
    letter-spacing: 0.2em;
  }

  .moveToTop {
    visibility: visible;
    height: 100%;
    transition: all 0.9s ease;
    transform: scale(1);
  }

  .menu .pageLink {
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    margin: 15px;
    padding: 1rem 0;
    letter-spacing: 0.05em;
    color: rgb(73, 72, 72);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  .pageLink:hover {
    color: #bbd4c9;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
  }

  .menu .navItem {
    margin: 3.5%;
    transform: translate3d(0, 0, 0);
  }

  .menuButton,
  .menuButton .btn-line {
    transition: none;
  }

  .homePage,
  .contactSection {
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow: hidden;
  }

  .homePage {
    grid-template-rows: 20% 70% 10%;
    background-image: none;
  }

  .contactSection {
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%;
  }

  .actingPage {
    display: grid;
    margin: 1%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 50% 40% 5%;
  }

  .actPhoto {
    display: block;
    width: 50%;
    grid-column: 1;
    grid-row: 2;
    margin: auto 30px;
    justify-self: right;
  }

  .videoReel {
    width: 100vw;
    margin-top: 4%;
  }

  .contactPhoto {
    display: block;
    justify-self: left;
    width: 50%;
    grid-column: 2;
    grid-row: 2;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .contactSection {
    margin-top: 5%;
  }

  .contactForm {
    width: 80%;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .sendContactForm {
    font-size: 18px;
    width: 20%;
  }

  .sendContactForm:hover {
    background-color: #bbd4c9;
    color: #464b51;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .homePageOverlay {
    margin-left: 10%;
    margin-top: 0;
    margin-top: 5vh;
    height: 95vh;
    width: 100vw;
    background-size: contain;
    float: bottom right;
    visibility: visible;
    background-image: url('photos/main.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  .titleLine {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-family: 'Montserrat';
    font-size: 3.5em;
    margin: 20px 0;
    color: rgb(73, 72, 72);
  }

  .titleSection {
    margin-top: 20%;
    color: black;
  }

  .tagline {
    font-weight: 300;
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 5px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgb(73, 72, 72);
  }

  .mainTitleLine,
  .contactTitleLine {
    font-size: 2em;
    margin: 10% 0 0;
    font-family: 'Montserrat';
    letter-spacing: 0.2em;
    color: rgb(73, 72, 72);
    text-align: center;
  }

  .contactTitleLine {
    padding: 2%;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .mainTitleLine {
    font-size: 2.5em;
    font-weight: 700;
  }

  .mainTitleSection {
    margin: 15% 60% 0 3%;
    padding-top: 0;
    color: black;
    text-align: left;
  }

  .wellnessPage {
    width: 100vw;
    background-size: cover;
    display: grid;
    grid-template-rows: 25% 68% 10%;
  }

  .wellnessSection {
    padding: 0 10%;
  }

  .wellnessBlurb {
    font-size: 0.95em;
    line-height: 2em;
    padding: 10px;
  }

  .wellnessTitle,
  .actingPageTitle,
  .photoPageTitle {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-family: 'Montserrat';
    color: rgb(73, 72, 72);
    font-size: 2em;
    margin: 8% 0 0;
    padding: 2%;
    letter-spacing: 0.3em;
  }

  .actingPageTitle {
    margin: 5% 0;
  }

  .photoGallery,
  .wellnessLinks {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
  }

  .photoGallery {
    grid-template-rows: 20% 80%;
    grid-template-columns: 15% 70% 15%;
    overflow: hidden;
  }

  .wellnessLinks {
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 40% 40% 10%;
  }

  .photoPageTitle {
    grid-row: 1;
    grid-column: 1 / span 3;
    margin: 5% auto 0;
  }

  .container-fluid {
    background-color: pink;
    display: none;
  }

  .instagramGrid {
    padding: 2%;
    grid-row: 2;
    grid-column: 2;
  }

  .allPhotos {
    justify-content: space-evenly;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
  }

  .allPhotos {
    margin-top: 20px;
    grid-gap: 2px;
  }

  .actInfo {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.95em;
    line-height: 2em;
    margin: auto 35% auto 30px;
    justify-self: left;
    text-align: left;
  }

  .reel {
    margin: auto;
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .photo,
  .photoWrapper {
    height: 100%;
    margin: auto;
    transition: all 0.8s ease-in-out;
  }

  .photoWrapper:hover {
    height: 110%;
    transition: all 0.8s ease-in-out;
  }

  .thumb {
    width: auto;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: none;
  }

  .media,
  .activeMedia,
  .activePhoto {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .activeMedia {
    width: 40%;
  }

  .activeMedia .activeOverlay,
  .activePhoto .activeOverlay {
    font-family: 'Montserrat';
    text-decoration: none;
    opacity: 0.9;
    width: 82%;
    height: 12%;
    margin: 50% auto 0 auto;
  }

  .activePhoto {
    width: 30%;
  }

  .activeOverlay {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 60%;
    background: #fff;
    color: #151e3f;
    transition: all 0.9s ease;
    transition-timing-function: ease-in;
  }

  .activeOverlay {
    font-size: 22px;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }

  .activeOverlay:hover {
    background-color: #bbd4c9;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }

  .footer {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 1% auto 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .homePage {
    margin-top: 4%;
  }
  .homePageOverlay {
    margin-left: 10%;
    margin-top: 0;
    margin-top: 5vh;
    height: 95vh;
    width: 100vw;
    background-size: contain;
    float: bottom right;
  }
  .mainTitleSection {
    margin: 8% 60% 0 1%;
  }
  .mainTitleLine,
  .tagline {
    margin: 0 10%;
    text-align: left;
  }
  .contactPhoto {
    width: 70%;
  }
  .contactForm input,
  .contactForm textarea {
    font-size: 16px;
  }
}

@media screen and (min-width: 1360px) {
  .homePage {
    margin-top: 2%;
  }
  .homePageOverlay {
    margin-left: 5%;
    margin-top: 4vh;
    height: 96vh;
    width: 100vw;
    background-size: contain;
    float: bottom right;
  }
  .mainTitleSection {
    margin-left: 3%;
    margin-right: 55%;
  }
  .mainTitleLine,
  .tagline {
    margin: 0 5%;
    text-align: center;
  }
  .activeMedia {
    width: 35%;
  }
  .contactTitleLine {
    margin: 5% 0 0;
  }
  .contactForm input,
  .contactForm textarea {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .homePageOverlay {
    margin-left: 2%;
    margin-top: 2vh;
    height: 98vh;
  }
  .mainTitleLine {
    font-size: 3em;
  }
  .tagline {
    font-size: 1.3em;
  }
}
